

.card {
	display: grid;
	grid-template-columns: auto 750px;
	gap: 20px;
}

.card__heading.is-sticky {  
	position: fixed;
	top: 0;
	transform: translateY(calc(var(--item-index) * var(--item-spacing)));
}

div.card__grid {
	margin: 0;
	grid-column: 2 / 3;
}

ul.card__list {
	padding: 0;
}


