.footer {
	padding-block-end: 25px;
	margin-block-start: 15px;
	
	@media (min-width: 768px) {
		margin-block-start: 25px;
	}

	@media (min-width: 1200px) {
		margin-block-start: 35px;
	}
}

.footer__copy {
	text-align: center;
	font-size: 14px;
}