
.grid {
	max-width: 1000px;
	margin: 70px auto 0 auto;

	@media (min-width: 768px) {
		padding: 0 30px;
		margin-top: 200px;
	}
}

.grid__media-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;


	@media (min-width: 768px) {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 20px;
		padding: 0 30px;
	}

	@media (min-width: 1200px) {
		gap: 80px;
	}
}

.grid__image {
	aspect-ratio: 3 / 4;
	background-color: #fff;
	max-width: 270px;
	transition: clip-path 1s ease;
	margin: 1rem 15px;

	@media (min-width: 768px) {  
		max-width: revert;
		margin: 0;
	}
}

.grid__image:nth-child(even) {
	clip-path: polygon(1% 100%, 6% 89%, 0% 74%, 11% 57%, 0% 44%, 12% 16%, 2% 1%, 28% 7%, 42% 1%, 66% 16%, 79% 0%, 90% 7%, 100% 2%, 96% 21%, 99% 32%, 92% 44%, 100% 68%, 85% 85%, 100% 100%, 35% 89%);
}

.grid__image:nth-child(odd) {
	clip-path: polygon(1% 100%, 4% 81%, 7% 57%, 8% 37%, 13% 0%, 32% 1%, 52% 1%, 77% 0%, 91% 1%, 100% 0%, 97% 24%, 94% 47%, 91% 78%, 91% 95%, 89% 100%, 65% 98%, 49% 98%, 26% 98%, 13% 99%, 13% 99%);
}

.grid__image:nth-child(1) {
	clip-path: polygon(3% 97%, 1% 85%, 0% 67%, 4% 53%, 13% 34%, 23% 22%, 34% 12%, 55% 2%, 76% 1%, 92% 5%, 100% 17%, 100% 33%, 95% 56%, 92% 70%, 83% 94%, 61% 98%, 37% 100%, 21% 100%, 11% 100%, 11% 100%);
	display: flex;
	align-items: center;
}

.grid__image:hover {
	clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
}

.grid__image > img {
	width: 100%;
	scale: 0.6;
	transition: scale 1s ease;
}

.grid__image:hover > img {
	scale: 0.9;
}

.grid__image:first-child {
	@media (min-width: 768px) {  
		grid-column: 1 / 2;
		grid-row: 1 / 2;  
	}
}

.grid__image:nth-child(2) {
	@media (min-width: 768px) {  
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
}

.grid__image:nth-child(3) {
	@media (min-width: 768px) {  
		grid-column: 1 / 2;
		grid-row: 2 / 3;    
	}
}

.grid__image:nth-child(4) {
	@media (min-width: 768px) {  
		grid-column: 2 / 3;
		grid-row: 2 / 3;    
	}
}

.grid__image:nth-child(5) {
	@media (min-width: 768px) {  
		grid-column: 1 / 2;
		grid-row: 3 / 4;    
	}
}

.grid__image:nth-child(6) {
	@media (min-width: 768px) {  
		grid-column: 2 / 3;
		grid-row: 3 / 4;    
	}
}

.grid__image:nth-child(7) {
	@media (min-width: 768px) {  
		grid-column: 1 / 2;
		grid-row: 4 / 5;    
	}
}

.grid__image:nth-child(8) {
	@media (min-width: 768px) {  
		grid-column: 2 / 3;
		grid-row: 4 / 5;    
	}
}

.grid__image:nth-child(9) {
	@media (min-width: 768px) {  
		grid-column: 1 / 2;
		grid-row: 5 / 6;    
	}
}

.grid__image:nth-child(10) {
	@media (min-width: 768px) {  
		grid-column: 2 / 3;
		grid-row: 5 / 6;    
	}
}

.grid__image:last-child > img {
	height: auto;
}