.slider {
	overflow: hidden;
}


.slider__list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	display: flex;
}

.slider__item {
	min-width: 100%;
}

.slider__picture {
	display: block;
	aspect-ratio: 3 / 4;
	max-width: 270px;
	margin: 0 auto;

	@media (min-width: 768px) {  
		max-width: 360px;
	}

	@media (min-width: 1200px) {  
		max-width: 460px;
	}
}