@use 'base.scss';
@use "./font-face.scss" as *;
@use "./tilt-image.scss" as *;

@keyframes ani-in {

  0% {
    transform: translate(0, 3rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

:root {
	--transformX: 0;
	--transformY: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", system-ui;
  font-optical-sizing: auto;
  background-color: #F5F5F5;
}

.header {
  width: fit-content;
  margin: 40px auto 0;
  padding: 10px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 1200px) {
      margin-top: 60px;
  }

  &.ani-in {
    animation: ani-in 1000ms ease;
  }
}

.header__heading {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.7);
  transition: color 500ms ease-in;

  @media (min-width: 768px) {
    font-size: 46px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    font-size: 80px;
  }

  .is-collapsed & {
    color: rgba(0, 0, 0, 1);
  }
}

.header__button {
  font-size: inherit;
  color: currentColor;
  font-family: inherit;
  padding: 0;
  text-align: start;
  cursor: pointer;
  background-color: inherit;
  border: none;
  width: 100%;
  position: relative;

  &:active {
    cursor: grabbing;
  }
}

.header__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(245, 245, 245, 0.8);
  border-radius: 2px;
  border-top: 3px solid #fff;
  opacity: 0;
  transition: all 400ms ease-out;

  @media (min-width: 1200px) {
    border-top: 5px solid #fff;
  }
}

.is-collapsed .header__button:after {
  opacity: 1;
  bottom: -15px;
}

.header__icon {
  position: absolute;
  top: -16px;
  right: 0;
  width: 0.5em;
  height: 0.5em;

  @media (min-width: 768px) {
    left: 340px;
    top: -21px;
  }

  @media (min-width: 1200px) {
    left: 600px;
    top: -35px;
    width: 0.5em;
  }
}

.header__icon-plus {
  transition: opacity 250ms ease-in;

  .is-collapsed & {
    opacity: 0;
  }
}

.header__icon-minus {
  position: absolute;
  top: 20px;
  width: 100%;
  right: 0;
  opacity: 0;
  transition: opacity 250ms ease-in;

  @media (min-width: 768px) {
    top: 26px;
  }

  @media (min-width: 1200px) {
    top: 46px;
  }

  .is-collapsed & {
    opacity: 1;
  }
}

.header__copy {
  overflow: hidden;
  height: 0;
  opacity: 0;
  margin: 0;
  font-size: 16px;
  transition: height 800ms ease, opacity 400ms ease;
  font-weight: 300;
  display: flex;
  row-gap: 5px;
  flex-direction: column;

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.1;
  }
}

.is-collapsed .header__copy {
  height: 80vw;
  opacity: 1;
  margin-top: 30px;

  @media (min-width: 768px) {
    height: 20vw;
  }
}


.header__copy > span:last-child {
  margin-top: 10px;
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-top: 5px;
  }
}

.header__link-button {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 3px solid #fff;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }

  @media (min-width: 768px) {
    margin: revert;
    margin-left: auto;
  }
}

.header__link-button span {
  text-align: center;
}

.header__copy strong {
  font-weight: 400;
  opacity: 0.3;
  transition: opacity 1000ms ease-out;

  .is-collapsed & {
    opacity: 1;
  }
}

.portfolio {
  max-width: 1000px;
  margin: 35px auto 0 auto;

  @media (min-width: 768px) {
  padding: 0 30px;
  margin-top: 100px;
  }
}

.portfolio__media-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;


  @media (min-width: 768px) {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 0 30px;
  }

  @media (min-width: 1200px) {
    gap: 80px;
  }
}

.portfolio__image {
  aspect-ratio: 3 / 4;
  background-color: #fff;
  max-width: 270px;
  transition: clip-path 1s ease;
  margin: 1rem auto;

  @media (min-width: 768px) {  
    max-width: revert;
    margin: 0;
  }
}

.portfolio__image:nth-child(even) {
  clip-path: polygon(1% 100%, 6% 89%, 0% 74%, 11% 57%, 0% 44%, 12% 16%, 2% 1%, 28% 7%, 42% 1%, 66% 16%, 79% 0%, 90% 7%, 100% 2%, 96% 21%, 99% 32%, 92% 44%, 100% 68%, 85% 85%, 100% 100%, 35% 89%);
}

.portfolio__image:nth-child(odd) {
  clip-path: polygon(1% 100%, 4% 81%, 7% 57%, 8% 37%, 13% 0%, 32% 1%, 52% 1%, 77% 0%, 91% 1%, 100% 0%, 97% 24%, 94% 47%, 91% 78%, 91% 95%, 89% 100%, 65% 98%, 49% 98%, 26% 98%, 13% 99%, 13% 99%);
}

.portfolio__image:nth-child(1) {
  clip-path: polygon(3% 97%, 1% 85%, 0% 67%, 4% 53%, 13% 34%, 23% 22%, 34% 12%, 55% 2%, 76% 1%, 92% 5%, 100% 17%, 100% 33%, 95% 56%, 92% 70%, 83% 94%, 61% 98%, 37% 100%, 21% 100%, 11% 100%, 11% 100%);
  display: flex;
  align-items: center;
}

.portfolio__image:hover {
  clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
}

.portfolio__image > img {
  width: 100%;
  scale: 0.6;
  transition: scale 1s ease;
}

.portfolio__image:hover > img {
  scale: 0.9;
}

.portfolio__image:first-child {
  @media (min-width: 767px) {  
    grid-column: 1 / 2;
    grid-row: 1 / 2;  
  }
}

.portfolio__image:nth-child(2) {
    @media (min-width: 767px) {  
      grid-column: 2 / 3;
      grid-row: 1 / 2;
  }
}

.portfolio__image:nth-child(3) {
    @media (min-width: 767px) {  
      grid-column: 1 / 2;
      grid-row: 2 / 3;    
  }
}

.portfolio__image:nth-child(4) {
    @media (min-width: 767px) {  
      grid-column: 2 / 3;
      grid-row: 2 / 3;    
  }
}

.portfolio__image:nth-child(5) {
    @media (min-width: 767px) {  
      grid-column: 1 / 2;
      grid-row: 3 / 4;    
  }
}

.portfolio__image:nth-child(6) {
    @media (min-width: 767px) {  
      grid-column: 2 / 3;
      grid-row: 3 / 4;    
  }
}

.portfolio__image:nth-child(7) {
    @media (min-width: 767px) {  
      grid-column: 1 / 2;
      grid-row: 4 / 5;    
  }
}

.portfolio__image:nth-child(8) {
    @media (min-width: 767px) {  
      grid-column: 2 / 3;
      grid-row: 4 / 5;    
  }
}

.portfolio__image:nth-child(9) {
    @media (min-width: 767px) {  
      grid-column: 1 / 2;
      grid-row: 5 / 6;    
  }
}

.portfolio__image:nth-child(10) {
    @media (min-width: 767px) {  
      grid-column: 2 / 3;
      grid-row: 5 / 6;    
  }
}

.portfolio__image:last-child > img {
  height: auto;
}

.tilt-image-container {
  scroll-margin-top: 1rem;
  margin-top: 5rem;
  color: #333;
  text-align: center;

  @media (min-width: 767px) {  
    scroll-margin-top: 0.5rem;
}
}

.tilt-image-container.is-hovered img {
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(800px) rotateX( calc(var(--transformX) * -1deg) ) rotateY( calc(var(--transformY) * 1deg) ) scale3d(1, 1, 1);
  transition: transform .25s ease-out;
}

.tilt-image {
  display: block;
  width: fit-content;
  margin: 0 auto;
  cursor: not-allowed;
}

.tilt-image img {
  max-width: 100%;
  display: block;
}