.tilt-images-container.is-hovered img {
	transition: transform .25s ease-out;
  will-change: transform;
  transform-style: preserve-3d;
  transform: perspective(800px) rotateX( calc(var(--transformX) * -1deg) ) rotateY( calc(var(--transformY) * 1deg) ) scale3d(1, 1, 1);
}